body {
    background-color: rgb(45, 45, 119);
    font: normal 15pt Arial;
    color: white;
    text-align: center;
}

header {
    color: white;
    
}

section {
    background-color: rgb(129, 137, 207);
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 5px 20px rgb(129, 137, 207);

}

footer {
    color: white;
    
}

div{
  
    border-radius: 10px;
    padding: 50px;
    background-color:  rgb(67, 76, 160);
    border-color: black;
    color: white;
    

}
#inicio{
    font-size: 0.7cm;
    box-shadow: 10px;
    
}
#fim{
    font-size: 0.7cm;
}
#passo{
    font-size: 0.7cm;
}
#botao{
    font-size: 0.5cm;
    
    color: white;
    background-color: rgb(66, 44, 187);
}
